/** Hide file name header **/
.flashcard .inline-title {
  display: none;
}
.vocab button.toggle {
  display: none;
}
.vocab h5 { 
	margin-bottom: -30px;
}
.vocab a {
  font-size: 10px;
}
.vocab pre {
  margin-bottom: 40px;
}
